
body
{
    font-family: 'helvetica neue';
    color : @foreground;
}

button
{
    font-size: 1em;

    background: @control-background;
    border : 1px solid @control-border;
    border-radius: 1em;

    padding: 0.5em;

    cursor: pointer;

    &:hover
    {
        background : @highlight-background-color;
        color: @highlight-foreground-color;
        border-color: @highlight-foreground-color;
    }
}

div, section
{
    box-sizing: border-box;
    margin : 1em auto;
    max-width: @max-page-width;
}

header
{
    background: linear-gradient(45deg, #EEE, #FFF);
    border-bottom: 1px solid #EFEFEF;
    margin : -1em -1em 1em;
    padding: 1em;

    h1
    {
        max-width: @max-page-width;
        margin: 0.25em auto;
    }
}

h1, h2, h3
{
    margin: 0;
    font-weight: normal;
}
