body
{
    font-family: 'helvetica neue';
    color : #8d8d8d;
    margin : 1em;

}

div, section
{
    box-sizing: border-box;
}

header
{
    background: radial-gradient(left, #EEF, #CCF, #66F, #EEE);
    margin : -1em -1em 1em;
    padding: 1em;

}

h1, h2, h3
{
    margin: 0;
    font-weight: normal;
}
