$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$hover-color: #CFCFFF;
$selected-color: rgb(175, 178, 255);
$single-overlap-color: rgb(134, 255, 118);
$both-overlap-color: rgb(173, 3, 147);
$negative-isolate-color: #FFF;
$positive-isolate-color: rgba(255, 0,0,1);

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $font-family-sans-serif;
}

.wrapper
{
    padding: 40px 15px 0px;

    .row{
        margin:0;
    }
}

.navbar-gismoh
{

    a
    {
        font-size: 1.6em;
        color: #777;

        transition: color 0.5s ease;

        &:hover
        {
            color: #333;
        }
    }

    background-color: #EEE;
}

.help
{
    @extend .btn;
    @extend .btn-default;
    @extend .pull-right;
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.gismoh_plugin
{
    /*border:2px solid #e6e6e6;*/

    height:40%;

    h2
    {
        color : #888;
        font-size:1.5em;
        line-height:1.55em;
        margin-top: 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #CCC;
    }
}

.loading h2
{
    background: url('../images/loading-sm.gif') 50% 50% no-repeat;
}

.selected
{
    @extend .btn-info;
}

#patient_list
{
    @include make-sm-column(6);

    table
    {
        width: 100%;
    }

    thead
    {
        font-size: 1.1em;
        border-bottom: 1px solid #EEE;

        th
        {
            font-weight: 200;
        }
    }

    th, td
    {
        text-align: center;
    }

    .speciality
    {
        @extend .text-muted;
        @extend .pull-right;
        font-weight: bold;

    }

    .ward
    {
        font-weight: bold;
    }

    .patient
    {

        td
        {
            padding: 0.2em;

            &:first-child
            {
                border-top-left-radius: 1em;
                border-bottom-left-radius: 1em;
            }

            &:last-child
            {
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
            }

            &.R
            {
                color : red;
            }

            &.S
            {
                color : paleGreen;
            }

            &.gap, &.I
            {
                color: lightGray;
            }

        }

        &.risk
        {
            display: none;
        }

        &:hover
        {
            background-color: $hover-color;
        }

        &.selected
        {
            background-color: $selected-color;
        }
    }

}

.status_box, .relation
{
    @extend .btn;
    position:absolute;
    height : 20px;
    width: 20px;
    right:0;
    margin: 0;
    padding:2px;
    text-align : center;
    vertical-align : middle;
}

.status_box
{
    top: 0;
}

.relation
{
    bottom: 0;
}


.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
 }

.selectable{
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
}


.replay
{
    position: fixed;
    top: -90px;
    right:100px;
    text-align:center;
    z-index:1500;

    @extend .unselectable;

    form
    {
        @extend .form-inline;

        margin-bottom: 5px;

        div
        {
            @extend .form-group;
        }

        input, select
        {
            @extend .form-control;
        }

        input[type=number]
        {
            width : 4em;
            &[name=year]
            {
                width: 5em;
            }
        }

        select
        {
            width : auto;
        }
    }

    .tray
    {
        border: 1px solid #AAAAAA;
        background: linear-gradient(#eee, #aaa);
        height: 90px;
        width: 370px;
        padding: 10px 0px;


    }

    .handle
    {
        color: #888;
        border:1px solid #eee;
        background: linear-gradient(#eee, #ccc);
        font-weight : bold;
        font-size : 115%;
        width:390px;
        height:40px;
        padding : 10px;
        border-bottom-right-radius : 45px;
        border-bottom-left-radius : 45px;
        margin-left: -10px;

        transition : background 0.5s ease;

        &:hover
        {
            background: linear-gradient(#eef, #ccf);
            cursor:pointer;
        }
    }

    .btn
    {
        @extend .btn-default;
    }

}

#ab_list
{
    display: none;
   /* @include make-sm-column(2);*/
}

#linker
{
    @include make-sm-column(6);

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select:none;

    text
    {
        fill : black;
        font-size : 0.8em;

        &.selected
        {
            font-size: 1.1em;
        }
    }

    path
    {
        stroke: #444;
    }

    circle, path.danger
    {
         stroke: transparent;
         fill : $single-overlap-color;

        transition: all 0.5s ease;

        &.selected
        {
            fill: $selected-color;
        }

        &.danger
        {
            fill: $both-overlap-color;

        }

         &:hover
        {
            stroke-width : 3px;
            cursor: pointer;
        }


    }

    .legend
    {
        text
        {
            text-anchor : start;
            font-size: 0.8em;
            color : #888;
        }
    }

}

#timeline
{
    @include make-sm-column(12);

    text
    {
        font-size : 12pt;
        font-weight: normal;

        &.tick
        {
            text-anchor: middle;

            &.year
            {
                text-anchor: start;
                font-weight: bold;
            }
        }
    }

    .zoom_bar
    {
        position : fixed;
        right: 2em;

        text-align:center;
        vertical-align: middle;
        width: 34px;

        .btn
        {
            font-size: 12pt;

            display: block;

            width : 30px;
            transition: all 0.25s ease;
            padding: 3px 6px;
        }

        .btn:hover
        {
            @include scale(1.1);
        }
    }

    .patient
    {
        .band
        {
            fill : #FFF;
            transition: fill 0.25s ease;

            border-radius: 5px;

            &:hover
            {
                fill : #33D;
            }

            &:active
            {
                fill : $selected-color;
            }
        }

        &.alt .band{
           // fill : #EEE;

            &:hover
            {
                fill : #33D;
            }

            &:active
            {
                fill : $selected-color;
            }
        }

        rect.episode {
            fill : #CCCCCC;

            &.overlap
            {
                fill : $single-overlap-color;
            }
        }

        path.lock, path.select
        {
            display: none;
            transition: all 1s ease;
        }

        &.locked
        {
            text
            {
              font-weight : bold;
            }

            path.lock
            {
                display:block;
            }
        }

        &.selected
        {
            rect.episode
            {
                fill : $selected-color !important;
            }

            text.episode
            {

            }

            path.select
            {
                display:block;
            }
        }

        .isolate
        {
            fill : $negative-isolate-color;
            stroke : #888;
            stroke-width: 2px;

            transition: all 0.5s ease-in-out;

            &.positive
            {

                fill : $positive-isolate-color;
                 &:hover, &.related
                {
                    stroke: #000;
                    stroke-width : 5px;
                }
            }
        }
    }

}
