$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$selected-color: #CFCFFF;
$single-overlap-color: #DDDD33;
$both-overlap-color: #DD3333;
$negative-isolate-color: #33DD33;

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.wrapper
{
    padding: 40px 15px 0px;   
    
    .row{
        margin:0;
    }
}

.navbar-gismoh
{
    a
    {
        color: #FFFFFF;
        
        transition: color 0.5s ease;
        
        &:hover
        {
            color: #CCCCFF;   
        }
    }

    background-color: #3333DD;
}

.help
{
    @extend .btn;
    @extend .btn-default;
    @extend .pull-right;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.gismoh_plugin
{
	/*border:2px solid #e6e6e6;*/
    
    height:40%;
	
	h2
	{	
		font-size:16pt;
		line-height:18pt;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #333;
	}
}

.loading h2
{
	background: url('../images/loading-sm.gif') 50% 50% no-repeat;
}

.patient_viewer
{
	.patient
    {
        @extend .btn;
        @extend .btn-default;
        display : inline-block;
        margin  : 0.125em 0.25em;
        width : 150px;
        text-align: left;
        position: relative;
        
        border-color : #444;
        
        transition: all 0.5s ease;
        
        &.risk
        {
            .status {
                @extend .status_box;
                @extend .btn-info;
            }
        }

        &.positive
        {
            .status{
                @extend .status_box;
                @extend .btn-danger;
                @extend .glyphicon;
                @extend .glyphicon-exclamation-sign;
            }
        }

        &.selected
        {
            background-color : $selected-color;
        }

        &:hover
        {
            @include scale(1.1);
            border-color: #444;
        }
    }
}

.status_box, .relation
{
    @extend .btn;
	position:absolute;
	height : 20px;
	width: 20px;
	right:0;
	margin: 0;
    padding:2px;
	text-align : center;
	vertical-align : middle;
}

.status_box
{
	top: 0;
}

.relation
{
	bottom: 0;
}


.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
 }
 
.selectable{
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
	user-select: text;
}
 

.replay
{
	position: fixed;
	top: -70px;
	right:100px;
	text-align:center;
	z-index:1500;
    
	@extend .unselectable;
	
	.tray
	{
		border: 1px solid #AAAAAA;
        background: #CCCCCC;
		height: 70px;
		width: 350px;
		padding: 10px 0px;
		
        input[type=number]
        {
            width : 4em;   
        }
	}
	
	.handle
	{
		border:1px solid #AAAAAA;
        background: #CCCCCC;
        font-weight : bold;
        font-size : 115%;
		width:370px;
		height:40px;
		padding : 10px;
		border-bottom-right-radius : 45px;
		border-bottom-left-radius : 45px;
		margin-left: -10px;
    
        transition : background 0.5s ease;
    
        &:hover
        {
            background: #EEEEEE;
            cursor:pointer;
        }
	}

    .btn
    {
        @extend .btn-default;
    }
    
}

.linker
{
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    user-select:none;
    
    text
    {
        fill : black;
        font-size : 12pt;
        text-anchor : middle;
        
        &.selected
        {
            font-size: 15pt;
        }
    }

    path
    {
        stroke: #444;
    }

    circle
    {
         stroke: #444;
         fill : $single-overlap-color;
    
        &.selected
        {
            fill: $selected-color;      
        }

        &.danger
        {
            fill: $both-overlap-color;
        }   
    }
        
	
}

.timeline
{       
    text 
    {
        font-size : 12pt;
        font-weight: normal;
        
        &.tick
        {
            text-anchor: middle;    
            
            &.year
            {
                text-anchor: start;
                font-weight: bold;   
            }
        }
    }
    
    .zoom_bar
    {
        position : fixed;
        right: 1em;
        
        text-align:center;
        vertical-align: middle;
        width: 34px;
        
        .btn
        {
            font-size: 12pt;
            
            display: block;
            
            width : 30px;
            transition: all 0.25s ease;
            padding: 3px 6px;
        }   
        
        .btn:hover
        {
            @include scale(1.1);
        }
    }

    .patient 
    {
        .band
        {
            fill : #FFF;
            transition: fill 0.25s ease;
            
            border-radius: 5px;
        
            &:hover
            { 
                fill : #33D;
            }

            &:active
            { 
                fill : $selected-color;
            }
        } 

        &.alt .band{
           // fill : #EEE;
    
            &:hover
            { 
                fill : #33D;
            }

            &:active
            { 
                fill : $selected-color;
            }
        }

        rect.episode {
            fill : #CCCCCC;

            &.overlap
            {
                fill : $single-overlap-color;
            }
        }

        path.lock, path.select
        {
            display: none;
            transition: all 1s ease;
        }

        &.locked 
        {
            text
            {
              font-weight : bold;
            }

            path.lock
            {
                display:block;
            }
        }

        &.selected
        {
            rect.episode
            {
                fill : $selected-color !important;
            }
        
            text.episode
            {
              
            }

            path.select
            {
                display:block;
            }
        }

        .isolate 
        {
            fill : $negative-isolate-color;
            stroke : #888;
            stroke-width: 2px;
    
            transition: all 0.5s ease-in-out;
    
            &.positive
            {
                
                fill : $both-overlap-color;
                 &:hover, &.related
                {
                    stroke: #000;
                    stroke-width : 5px;
                }
            }
        }
    }
    
}