table
{
	width: 100%;
	border-collapse: collapse;
	border-radius : 1em;
}

td, th
{
	border : 1px solid #CCC;
	padding : 0.5em;
	text-align : center;
}


.resistance-R
{
	background : #FFEEEE;
	color: #F00;
}

.resistance-S
{
	background : #EEFFEE;
	color : #0f0;
}

.resistance-
{
	background : #EEEEEE;
	color : #000;
}

td.loading:after
{
	animation-duration: 1s;
	animation-name : loading;
	animation-iteration-count: infinite;

	content : 'O';
}

@keyframes loading
{
	0%,100%
	{
		text-shadow: 0.5em 0em rgba(200, 200, 255, 1), -0.5em 0em rgba(200, 200, 255, 1);
	}

	50%
	{
		text-shadow: 0em 0em rgba(200, 200, 255, 1), 0em 0em rgba(200, 200, 255, 1);
	}

}
