<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GISMOH_FE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
     
            <div class="navbar navbar-fixed-top navbar-gismoh">
                <!--<ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>-->
                <a href="/" class="navbar-brand">GISMOH</a>
            </div>

            <div class="row text-left">
                
                <div id="patient_list" class="">
                    
                </div>
                <div id="linker" class="">
                </div><div id="ab_list" class="">
                </div>
            </div>

            <div class="row marketing">
                <div id="timeline" class="">
                </div>
            </div>
        </div>
            <!--<div class="footer">
                <p>&copy; Imperial College 2013</p>
            </div>-->

       <div class="modal modal-fade" id="patient-list-help" role="dialog" aria-labelledby="#patient-list-help-label" aria-hidden="true" tabindex="-1">
           <div class="modal-dialog">
               <div class="modal-content"> 
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="patient-list-help-label">Help for Positive and Risk Patients</h4>
                   </div>
                   <div class="modal-body">This is a list of patients that are in the hospital that have MRSA or have had MRSA previosuly. Patients with red icons are colonised, those with blue icons have previously been colonised. A patient with a blue background is currently selected.
                    <h4>Use this Panel:</h4>
                   <ul class="actions">
                        <li><strong>Click</strong> on a patient to see who else has carried a similar isolate</li>   
                    </ul></div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
        </div>
        <div class="modal modal-fade" id="isolates-help" role="dialog" aria-labelledby="#isolates-help-label" aria-hidden="true" tabindex="-1">
           <div class="modal-dialog">
               <div class="modal-content"> 
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="isolates-help-label">Help for Related Isolates Panel</h4>
                   </div>
                   <div class="modal-body">
                       The blue circle is the patient currently selected, yellow circles represent patients who with similar isolates, red triangles represent patienst who have similar isolates who have also spent time on the same ward as the patient
                        <h4>Use this Panel:</h4>
                        <ul class="actions">
                            <li><strong>Click</strong> on a patient to select them and view their diagram</li>   
                        </ul>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
        </div>
        <div class="modal modal-fade" id="timeline-help" role="dialog" aria-labelledby="#timeline-help-label" aria-hidden="true" tabindex="-1">
           <div class="modal-dialog">
               <div class="modal-content"> 
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="timeline-help-label">Help for Timeline</h4>
                   </div>
                   <div class="modal-body">The timeline shows where patients have been in the hospital, episodes (stays on a ward) are gray by default, turning blue for the currently selected patient (the patient with a tick by their number), and yellow for any stay that have overlapped with that patient. Patients can be "locked" to the top of the list by clicking on their row. Locked patients numbers' appear in bold, and are also signified by a padlock.
                       
                       Green Circles are swabs that do not show MRSA carriage, red triangles are swabs that show MRSA carriage
                    <h4>Use this Panel:</h4>
                   <ul class="actions">
                        <li><strong>Click</strong> on a patient to lock the patient to lock or unlock them</li>   
                        <li><strong>Roll over</strong> a positive swab to highlight other swabs which show carriage of a related isolate.</li>   
                    </ul></div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
        </div>
        <div class="modal modal-fade" id="adaptable" role="dialog" aria-labelledby="#adaptable-label" aria-hidden="true" tabindex="-1">
           <div class="modal-dialog">
               <div class="modal-content"> 
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="adaptable-label">Adaptable Modal</h4>
                   </div>
                   <div class="modal-body">
                     
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
        </div>

        <script type="text/template" id="patient_template">
		  <div>
            <%= patient_id %>
            <span class="status" title="<%= type%> patient">
                <span class="icon-white <% if (type == "positive") { %> icon-warning-sign <%} else {%> icon-info-sign <% } %>"></span>
            </span>
            <span class="relation">
                <span class="icon-white"></span>
            </span>
          </div>
        <div><%= location.speciality %> | <%= location.ward %>
        </div>
   
	   </script>

        <!-- build:js scripts/main.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js" ></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js" ></script>
        <script src="bower_components/sass-bootstrap/js/popover.js" ></script>
        <script src="bower_components/underscore/underscore.js" ></script>
        <script src="bower_components/backbone/backbone.js" ></script>
        <script src="scripts/models.js" ></script>
        <script src="scripts/strftime.js" ></script>
        <script src="scripts/Linker.js" ></script>
        <script src="scripts/PatientList.js" ></script>
        <script src="scripts/Timeline.js" ></script>
        <script src="scripts/Replay.js" ></script>
        <script src="scripts/AB_List.js" ></script>
        <script src="scripts/main.js" ></script>
        <!-- endbuild -->
</body>
</html>
